/* Setting backgroung color */
body{
    background-color:#d9d9d9;
}
/* Stylying div section  */
div {
    border-radius: 4px;
    font-size: 20px;
}
/* Styling cv header */
#cvheader{
    position: fixed;
    z-index: 1;
    height: 30px;
    width: 98%;
    margin-bottom: 10px;
}
/* Underlining heading 3 */
h3{
    text-decoration: underline;
}
/* Styling top section */
.top{
    float: left;
    margin-top: 50px;
    padding-left: 5px;
    height: auto;
    width: 90%;
    background-color:#bfbfbf;
    text-align: center;
}
/* Styling bottom section */
.bottom{
    float: left;
    margin-top: 30px;
    padding-left: 5px;
    height: auto;
    width: 90%;
    background-color:#bfbfbf;
    text-align: center;
}
/* Styling table section */
table{
    padding: 10px;
    border: 1px black;
}
/* Styling table data */
td{
    padding: 2px;
    border: 1px black;
}
/* Styling nav-table */
.nav-table{
    background-color: #333;
    border: 2px solid black;
    width: 50%;
    float: center;
    overflow: hidden;
}
/* setting nav bar color when active */
.nav-table a{
    color: #f2f2f2;
}
/* setting nav bar color when hover */
.nav-table a:hover{
    background-color: #ddd;
    color: black;
}
/* Styling image class */
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    padding: 10px;
    
}

